# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\ThucTapSolana\UDPM_9_UngDungChoThueNha\BE_UDPM_9_UngDungChoThueNha\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
