<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img ng-src="./img/{{inputValue.anh}}" style="height: 300px; width: 400px;" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h2 class="mb-4" style="color:red">Giá: {{inputValue.gia + " " + "VND"}}</h2>
            <p class="lead">Địa chỉ: {{inputValue.diaChi}}</p>
            <button class="btn btn-primary">Thuê phòng</button>
        </div>
    </div>
</div>
    <a class="btn btn-danger mt-3" href="#!/list">Back</a>
