<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/banner1.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../img/banner2.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</br>
<h2 class="text-center">Địa Điểm Nổi Bật</h2>
</br>
<div class="container text-center">
    <div class="row">
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="../img/dd1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Mỹ Đình</h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="../img/dd2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Thanh Xuân</h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="../img/dd3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Cầu Giấy</h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="../img/dd4.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Hoài Đức</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</br>
<h2 class="text-center">Xu Hướng</h2>
</br>
<div class="container text-center">
    <div class="row">
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="../img/Nha-Tro-1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Mỹ Đình, Hà Nội</h5>
            <p class="card-text">2000 VND</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="../img/Nha-Tro-2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Thanh Xuân, Hà Nội</h5>
            <p class="card-text">2000 VND</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="../img/Nha-Tro-3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Đình Thôn, Hà Nội</h5>
            <p class="card-text">2000 VND</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img src="../img/Nha-Tro.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Hoài Đức, Hà Nội</h5>
            <p class="card-text">3000 VND</p>
          </div>
        </div>
      </div>
    </div>
  </div>